@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

:root {
    --vh: 100svh;
}
html,
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: var(--font-inter), var(--font-abril), "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    overflow: hidden;
    touch-action: none;
}
.app-container {
    height: calc(var(--vh, 1svh) * 100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page-container {
    overflow-y: auto;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

.btn {
    @apply rounded-full px-4 py-2 m-2 w-40 max-w-[80%] self-center;
}
.btn-theme {
    background: linear-gradient(to right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
    color: rgb(var(--foreground-rgb));
    @apply btn;
}

.bg-theme1 {
    @apply bg-[#01688D];
}
.bg-theme2 {
    @apply bg-[#0197B1];
}
.bg-theme3 {
    @apply bg-[#81BBA0];
}
.bg-theme4 {
    @apply bg-[#E2D7D6];
}
.bg-theme5 {
    @apply bg-[#D6B59D];
}
.bg-theme6 {
    @apply bg-[#B69C87];
}

/* treasure */

.animate-treasure {
    animation: treasure-animation 1s ease-in-out forwards;
}

@keyframes treasure-animation {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* light beam */
.light-beam {
    position: absolute;
    top: -6rem;
    left: 50%;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);

    animation: light-beam-animation 0.7s ease-in-out forwards;
}

@keyframes light-beam-animation {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

/* shining */
.shining-effect p {
    /* font-size: 50px; */
    text-align: left;
    margin: 20px 0px 20px 10px;
    position: relative;
    background-image: linear-gradient(70deg, rgb(211, 209, 209, 1) 45%, #fff 50%, rgb(211, 209, 209, 1) 55%);
    background-size: 1000% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 8s infinite;
}

@keyframes shine {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
